* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  /* background: rgb(118, 9, 121);
  background: linear-gradient(
    90deg,
    rgba(118, 9, 121, 1) 35%,
    rgba(255, 243, 0, 1) 100%
  ); */
  padding: 10px;
  /* 
  background: rgb(63, 94, 251);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ); */

  /* background: rgb(240, 76, 21);
  background: linear-gradient(
    333deg,
    rgba(240, 76, 21, 1) 6%,
    rgba(255, 243, 0, 1) 100%
  ); */

  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );

  cursor: url("/cursor/navigation.png"), auto;
}

.calculator {
  max-width: 450px;
  max-height: 680px;
  background-color: black;
  margin: 150px auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 460px) {
  .calculator {
    max-width: 320px;
    max-height: 680px;
  }
}

.display {
  color: white;
  font-size: 70px;
  text-align: end;
  /* padding-top: 20px; */
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  cursor: url("/cursor/pencil.png"), auto;
}

.button {
  border: none;
  color: white;
  border-radius: 50px;
  padding: 28px 30px;
  width: 22%;
  margin: 6px 6px;
  font-size: 30px;
  background-color: rgba(128, 128, 128, 0.372);

  cursor: url("/cursor/pencil.png"), auto;
}

@media screen and (max-width: 460px) {
  .button {
    max-width: 320px;
    max-height: 680px;
    /* font-size: 30px; */
    width: 20%;
    /* padding: 15px 27px; */
    padding: 9px 5px;
  }
}

.btn-grey {
  background-color: gray;
  cursor: url("/cursor/delete.png"), auto;
}

.btn-orange {
  background-color: orange;
  cursor: url("/cursor/check.png"), auto;
}

.btn-zero {
  padding: 30px 177px 26px 20px;
}

@media screen and (max-width: 460px) {
  .btn-zero {
    padding: 10px 115px 13px 17px;
  }
}
